[Unit]
Description=Dynamic DNS client for Mail-in-a-Box.
Requires=network-online.target

[Service]
Type=simple
ExecStart=boxdns
Restart=on-failure

[Install]
WantedBy=multi-user.target
